header {
  font-family: Calibri;
  color: #0177b7;
}
body {
  font-family: Calibri;
}

p {
  font-weight: bold;
}

h1 {
  text-align: center;
  color: #0177b7;
  font-weight: bold;
}

.mlogo {
  height: 1em;
  width: auto;
  padding: 1px;
  margin-right: 10px;
}

.blogo {
  height: 90%;
  width: 90%;
  max-height: 205px;
  max-width: 220px;
  padding: 1px;
  margin-right: 10px;
  text-align: center;
  margin-top: 50px;
}

.blogom {
  height: 90%;
  width: 90%;
  max-height: 205px;
  max-width: 220px;
  padding: 1px;
  margin-right: 10px;
  text-align: center;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.welcometitle {
  color: #0177b7;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.blueh3 {
  color: #0177b7;
}
h4 {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.block {
  height: 275px;
  width: 100%;
  font-family: Calibri;
}

.miniblock {
  height: 4em;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.miniblockother {
  height: 3em;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
}

@media only screen and (max-width: 700px) {
  .block {
    height: 350px;
    width: 100%;
    font-family: Calibri;
  }
  .column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .miniblock {
    height: 3em;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
  }

  .miniblockS {
    height: 3em;
    width: 80%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  .miniblockother {
    height: 4em;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
  }
  .smallbullets {
    font-size: 10px;
    text-align: left;
    padding: 5px;
  }
}

.blue {
  background-color: #0177b7;
  color: white;

  padding: 10px;
}

.bluebox {
  background-color: #0177b7;
  color: white;
  border-radius: 15px;
  height: 70%%;
  width: 70%%;
  margin: 10px;
  font-weight: bold;
  padding: 10px;
}

.white {
  background-color: white;
  color: black;
  text-align: left;
  padding: 10px;
}
