header {
  font-family: Calibri;
  color: #008cba;
}
body {
  font-family: Calibri;
}

h1 {
  text-align: center;
  color: #008cba;
  font-weight: bold;
}

.mlogo {
  height: 1em;
  width: auto;
  padding: 1px;
  margin-right: 10px;
}

.blogo {
  height: 90%;
  width: 90%;
  padding: 1px;
  margin-right: 10px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.blueh3 {
  color: #008cba;
}
h4 {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.block {
  height: 250px;
  width: 100%;
  font-family: Calibri;
}

@media only screen and (max-width: 700px) {
  .block {
    height: 250px;
    width: 100%;
    font-family: Calibri;
  }
  .column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.blue {
  background-color: #008cba;
  color: white;

  padding: 10px;
}

.white {
  background-color: white;
  color: black;
  text-align: left;
  padding: 10px;
}
